.card {
   background-color: var(--card-bg-color);
   color: var(--text-color);
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 6px var(--shadow-color);
   text-align: left;
   transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
  }
  
  .card:hover {
   transform: translateY(-5px);
   box-shadow: 0 6px 8px var(--shadow-color-hover);
  }
  
  .card h3 {
   font-size: 1.5rem;
   margin-bottom: 10px;
   color: var(--primary-color);
  }
  
  .card p {
   font-size: 1rem;
   margin-bottom: 15px;
   line-height: 1.6;
  }
  
  .card a {
   display: inline-block;
   padding: 10px 15px;
   font-size: 0.9rem;
   font-weight: 500;
   color: #fff;
   background-color: var(--primary-color);
   text-align: center;
   border-radius: 4px;
   text-decoration: none;
   transition: background-color 0.3s, transform 0.3s;
  }
  
  .card a:hover {
   background-color: var(--primary-color-hover);
   transform: translateY(-3px);
  }

  .card-logo {
   width: 50px;
   height: 50px;
   margin-bottom: 10px;
   border-radius: 50%;
 }

 .card-description {
   font-size: 0.9rem;
   color: var(--text-secondary-color);
   margin: 10px 0;
 }
 
 /* Tutorial-Specific Styles */
 .tutorial-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 15px;
 }
 
 .tutorial-logo {
   width: 80px;
   height: 80px;
 }
 
 .tutorial-title {
   font-size: 1.5rem;
   color: var(--primary-color);
 }
 
 .tutorial-button {
   background-color: var(--primary-color);
   color: var(--bg-color);
   font-size: 1rem;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 8px;
   transition: background-color 0.3s, transform 0.2s;
 }
 
 .tutorial-button:hover {
   background-color: var(--primary-hover-color);
   transform: scale(1.05);
 }
  
  /* Responsive Design */
  @media (max-width: 768px) {
   .card {
    width: 100%;
   }
  }
  